.buttons {
  display: flex;
  justify-content: center;
  gap: 12vw;
  margin-top: 11vh;
}

@keyframes ButtonsAnimation{
  0% {box-shadow: -20px 0px 40px #222099}
  25% {box-shadow: 0px 10px 40px #222099}
  50% {box-shadow: 20px 0px 40px #222099}
  75% {box-shadow: 0px -20px 40px #222099}
  100% {box-shadow: -20px 0px 40px #222099}
}

.buttons button{
  border: #DE0EE9 1px solid;
  border: rgba(222,14,233,0.7) 1px solid;
  border-radius: 50px;
  width: 275px;
  background: none;
  padding: 25px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: normal;
  font-family: 'Montserrat';
  animation: ButtonsAnimation 4s linear infinite;
  animation-direction: alternate;

}

@keyframes HoverAnimation {
  from{background-color: rgba(222, 14, 233, 0.1)}
  to{background-color: #222077}
}


.buttons button:hover{
  animation: HoverAnimation 4s linear infinite, ButtonsAnimation 4s linear infinite;
  animation-direction: alternate;

}
